@()

@main("Welcome to Kakuro") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <h3 class="rule">Wenn du Kakuro Spiel noch nicht gespielt hast, lese bitte einmal unseren Regeln durch!</h3>
  <a class="finger"> <img src="/assets/images/1376_finger.jpg" width="50", height="50", align="top"></a>
  <a class="rule_img" href="/rules"> <img src="/assets/images/regeln.png"width="140", height="120"></a>
  <a class="kakuro_img" href="/kakuro"> <img src="/assets/images/kakuro.png"width="140", height="120"></a>
}
